<!doctype html>
<html lang="it">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons and Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Satisfy'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
</head>

<body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#services">Servizi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#area_personale">Area Riservata</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Informazioni Ateneo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"> Contattaci </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Benvenuto in</div>
                <div class="intro-heading" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">UniMS</div>
                <a href="#services" class="page-scroll btn btn-xl">Più info</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servizi</h2>
                    <h3 class="section-subheading text-muted">Vieni a scoprire i servizi offerti da UniMS!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Posta Elettronica</h4>
                    <p class="text-muted">Posta elettronica dell'ateneo con spazio di archiviazione 'Google Drive' illimitato.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alloggi e Trasporti</h4>
                    <p class="text-muted">Scopri le innumerevoli agevolazioni riservate agli studenti.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bandi ed Avvisi</h4>
                    <p class="text-muted">
                        Bandi in Itinere<br> Bandi Scaduti<br> Archivio Bandi<br> New e Avvisi
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- area_personale Grid Section -->
    <section id="area_personale">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Area Riservata</h2>
                    <h3 class="section-subheading text-muted">Accedi alla tua area riservata per scoprire i vantaggi offerti!</h3>
                </div>
            </div>
            <div class="row text-center">
                <% if (message) { %>
                    <div>
                        <h5 class="text-center text-danger">
                            <%= message %>
                        </h5>
                    </div>
                    <% } %>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                    </span>
                            <a href="/registrazione">
                                <h4 class="service-heading">Registrazione</h4>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
                    </span>
                            <a data-toggle="modal" data-target="#accedi">
                                <h4 class="service-heading">Login</h4>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
                    </span>
                            <a data-toggle="modal" data-target="#passwordDimenticata">
                                <h4 class="service-heading">Recupero password</h4>
                            </a>
                        </div>
            </div>
            <!-- Modal -->
            <div id="accedi" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Autenticazione</h4>
                        </div>
                        <form method="POST" action="/login">
                            <div class="modal-body">
                                <label>Username</label>
                                <input type="text" name="username" required>
                                <br>
                                <label> Password </label>
                                <input type="password" name="password" required>
                                <br>
                                <input type="checkbox" checked>Ricordami
                            </div>
                            <div class="modal-footer">
                                <p>Vuoi un account? <a href="/registrazione" style="color: black">Registrati</a></p>
                                <p>Password dimenticata? <a data-toggle="modal" data-target="#passwordDimenticata" style="color: black">Recuperala</a></p>
                                <button type="submit" class="btn btn-default">Accedi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="passwordDimenticata" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Recupero password dimenticata</h4>
                        </div>
                        <form>
                            <div class="modal-body">
                                <p>Hai dimenticato la tua password? Non preoccuparti, inseirisci qui la tua e-mail!</p>
                                <br>
                                <label>Mail privata</label>
                                <input type="email" name="indirizzo" required>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">Invio</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ateneo</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/biblioteca.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Le Biblioteche</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/prato.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Gli OpenSpace</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Il Bar dell'Ateneo</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/campus.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Il Campus</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <!-- Contact/Area Container -->
        <div class="container">
            <div class="row row-centered">
                <!-- LE NOSTRE SEDI ?-->
                <h3 class="col-xs-6 text-centered">DOVE TROVARCI</h3>
                <h1 class="row"></h1>
                <div class="col-xs-6 col-centered">
                    <div id="googleMap">
                        <iframe class="page-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2910.971846620373!2d13.065896715054786!3d43.14712047914191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ddb9afaadf5d9%3A0xce53226a4659b73a!2sUnicam+campus!5e0!3m2!1sit!2sus!4v1493314326584"></iframe>
                    </div>
                </div>
                <div class="col-xs-6 col-centered">
                    <h5 style="text-transform: none">Segreteria: <br> Via A. D'Accorso, 16 <br> 62032 Camerino MC, Italia</h5>
                    <h5><i class="fa fa-phone"></i> : 0737 402000</h5>
                    <h5 style="text-transform: none"><i class="fa fa-at"></i> : info@unims.it </h6>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <span><i class="fa fa-university"></i> UniMS - 62032, Camerino (MC) - IT</span>
            </div>
        </div>
    </footer>
</body>

</html>