<!doctype html>
<html lang="it">

<head>
    <title>Recupero passwordDimenticata</title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-xs-2">
            <a href="/"><img src="img/logo.png"></a>
              <a style="color: black" href="/#recupero password">
        </div>
        <div class="col-xs-10">
            <% if (message) { %>
                <div>
                    <h5 class="text-center text-danger">
                        <%= message %>
                    </h5>
                </div>
                <label>Username</label>
                <input readonly name="username" type="text"  placeholder="username" class="form-control" ng-model="username" required="required" >
        </div>
        <div class="form-group">
            <label>Email Personale</label>
            <input readonly name="email" type="email" class="form-control" placeholder="email" ng-model="email" required="required">
        </div>
        <button type="submit" class="btn btn-md btn-info">Invia</button>
    </div>
    

</html>